<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>43257582935-imnpkd9ipei5rbccbck36eip6unv05ht.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.43257582935-imnpkd9ipei5rbccbck36eip6unv05ht</string>
	<key>API_KEY</key>
	<string>AIzaSyA6C6CoO0ywRtCaMFeZmS73QmQ1dHHhTCc</string>
	<key>GCM_SENDER_ID</key>
	<string>43257582935</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.movieApp</string>
	<key>PROJECT_ID</key>
	<string>movie-app-83686</string>
	<key>STORAGE_BUCKET</key>
	<string>movie-app-83686.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:43257582935:ios:525bbf83e27a59521a1a12</string>
</dict>
</plist>